.navigationBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 380px;
  height: 32px;
}

.button {
  height: 32px;
}

.button a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 32px;
  transition: 0.3s;
}

.button a:hover {
  color: #fff;
  background-color: #000;
}
